@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

html, body {
    background: rgb(204, 218, 191);
    margin: 0;
    padding: 0;
}

header {
    background-color: #649568;
}
.cartner {
    margin: 0;
    color: white;
    font-size: 25px;
    padding: 5px 50px;
    text-align: center;

}

.userArea {
    font-family: 'Sourc Sans Pro', sans-serif;
    font-size: 20px;
    padding: 25px;
}

.userArea * {
    box-sizing: border-box;
    line-height: 1.5; 
}

.title {
    font-size: 24px;
    font-weight: 600;
}

.subtitle {
    font-size: 20px;
    font-weight: 600;    
}

.loginArea, .loggedInArea{
    display: flex;
    flex-direction: column;
}

.loginArea > * {
    align-self: flex-start;
}

.label {
    font-weight: 600;
    padding: 10px 0;
}

.input {
    outline: none;
    border: 1px solid #649568;
    border-radius: 4px;
    background: #f9f9f9;
    transition: background 0.25s, border-color 0.25s, color 0.25s;
}

.input:focus {
    background: #ffffff;
}

.input::placeholder {
    color: #bbbbbb;
}

.login-btn-auth, .item-add, .logout-btn-auth, .add-ingredients {
    font-family: 'Sourc Sans Pro', sans-serif;
    font-weight: 600;
    font-size: 14px;
    padding: 7px 13px;
    margin: 10px 0px;

    color: #ffffff;
    background: #649568;
    border: none;
    border-radius: 2px;

    cursor: pointer;
    outline: none;
}

.login-btn-auth:active, .item-add:active, .logout-btn-auth:active, .add-ingredients:active {
    background: #1e7526
}